<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">

<section layout:fragment="content" class="contents bg-warning d-flex justify-content-center">
	<div class="main-box">
		<div>
			<h2>Walk에 방문하신것을 환영합니다</h2>	
		</div>
		
		<nav>
			<ul class="nav flex-column font-weight-bold">			
				<li class="nav-item"><a href="/post/post-list-view" class="nav-link">글 목록</a></li>
				<li class="nav-item"><a href="/post/photo-list-view" class="nav-link">사진 모아보기</a></li>
				<li class="nav-item"><a href="#" class="nav-link">관리자 글쓰기</a></li>
			</ul>
		</nav>
	</div>
</section>

<th:block layout:fragment="script">
	<script>
	</script>
</th:block>
</html>