<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
	<head>
	 	<!-- jquery : bootstrap, datepicker -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>  
        
		<!-- datepicker-->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	</head>
<section layout:fragment="content" class="mt-2 contents d-flex justify-content-center">
	<div class="post-create-box">
		<div class="d-flex justify-content-between">
			<h2>사진 모아보기</h2>
			<a class="btn btn-secondary" href="/post/post-list-view">글목록</a>			
		</div>
		<div id="wrap" class="container">
			<div class="d-flex flex-wrap w-100">

			</div>
		</div>
	</div>
</section> 

<th:block layout:fragment="script">
	<script>
	</script>
</th:block>



