<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">
	<head>
	 	<!-- jquery : bootstrap, datepicker -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>  
        
		<!-- datepicker-->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	</head>
<section layout:fragment="content" class="mt-5 contents d-flex justify-content-center">
	<div th:each="post : ${post}"class="post-update-box">
		<div class="d-flex justify-content-between">
			<h2>글수정</h2>
			<a class="btn btn-secondary" href="/post/post-list-view">글목록</a>			
		</div>
		<div></div>
		<div id="wrap" class="container">
			<div class="d-flex">
				<div class="form-control text-center">제목</div>
				<input type="text" name="subject" id="subject" class="form-control col-10">			
			</div>
			<div class="form-control text-center">산책로 정보</div>
			<div class="d-flex w-100">
				<div class="w-50 form-border">
					<img src="" alt="게시글 이미지">
				</div>
				<div class="w-50">
					<div class="d-flex">
						<div class="form-control col-3 text-center">장소</div>
						<input type="text" name="place" id="place" class="form-control col-9">
					</div>
					<div class="d-flex">
						<div class="form-control col-3 text-center">거리</div>
						<input type="text" name="distance" id="distance" class="form-control col-9">
					</div>
					<div class="d-flex">
						<div class="form-control col-3 text-center">소요시간</div>
						<input type="text" name="time" id="time" class="form-control col-9">
					</div>
					<div class="d-flex">
						<div class="form-control col-3 text-center">탐방일</div>
						<input type="text" name="visitDate" id="visitDate" class="form-control col-9">
					</div>
				</div>
			</div>
			<div class="form-control text-center">내용</div>
			<textarea rows="5" name="placeExplain" id="placeExplain" class="form-control"></textarea>
		</div>
		<div class="d-flex justify-content-end">
			<input type="file" name="file" id="file" accept=".jpg, .png, .gif">
			<button th:if="${session.userId == post.userId}"type="submit" id="savePostBtn" class="btn btn-info">수정하기</button>	
		</div>
	</div>
</section> 

<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			//alert("게시글 저장");
		});
	</script>
</th:block>



